



<nav class="navbar navbar-expand-sm bg-dark">
    <a routerLink="/admin" class="btn btn-danger">Admin</a> 
    <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"  href="https://www.aventia.no/">AVENTIA</a>
        </li>
      </ul>
  </nav>

<div class="jumbotron bg-light">

    <h1 class="display-4 text-center">Course Register</h1>

   <div class="row">
    <div class="col-md-3">       
      <app-course></app-course>
        <div id="scroll"> 
            <div class="col-md-9">
                <app-course-list></app-course-list>
            </div>
        </div>                 
      </div>
  </div>

</div>



