#scroll {  
    position: absolute;
    margin-left: 385px;
    margin-top: 35px; 
    width: 600px; 
    height: 414px;
    top: -17px;
    padding: 20,20,20,20;
    overflow-y: hidden;
  }

#scroll:hover {
    overflow-y: auto;
}


  .btn.btn.danger{
      color: blue;
      
  }